<app-navbar></app-navbar>
<div class="container main-container">

  <h1>Demos <small>angular</small></h1>
  <hr>
<!--   <h1>ngStyle</h1>
  <app-ng-style></app-ng-style>
  <hr>
    <h1>ngCss</h1>


  <app-css></app-css>

  <p>Hola mundo desde app.component</p>

  <hr>

  <h1>ngClass</h1>

   <app-clases></app-clases>

  <hr>
   <h1>Directivas personalizadas</h1>

   <p appResaltado>Hola mundo</p>

    <!--<p [appResaltado]="'blue'">
      Hola mundo
    </p>-->
 <!-- <hr>
  <h1>ngSwitch</h1>

  <app-ng-switch></app-ng-switch>-->


<router-outlet></router-outlet>
</div>

